@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales Bocanada */
html,
body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}